# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jcl\OneDrive\ESISAR\ESISAR_1\CS351\linux\PROJET\Projet_MIPS\myOwn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
